body {
    background-color: #2c2f33;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden; 
}

h2 {
    color: #7289da;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

form {
    background-color: #23272a;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

label {
    display: block;
    margin: 20px 0 10px;
    font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #7289da;
    border-radius: 8px;
    background-color: #2c2f33;
    color: #ffffff;
    font-size: 14px;
}

input[type="number"]:focus {
    border-color: #99aab5;
    outline: none;
}

button {
    background-color: #7289da;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #5b6eae;
}

footer {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    background-color: #23272a;
    color: #ffffff;
    border-top: 2px solid #7289da;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
}

.output-container {
    background-color: #23272a;
    color: #ffffff;
    max-width: 500px;
    padding: 40px;
    margin: 40px auto;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.output-container h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.output-container p {
    font-size: 18px;
}

.laminar {
    border: 2px solid #43b581;
    color: #43b581;
}

.transitional {
    border: 2px solid #faa61a;
    color: #faa61a;
}

.turbulent {
    border: 2px solid #f04747;
    color: #f04747;
}

.back-button {
    background-color: #7289da;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
}

.back-button:hover {
    background-color: #5b6eae;
}
